

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.8.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
<div class="container" style="margin-top: 30px;">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a  class="btn btn-primary" href="#" routerLink="list">LIST</a></li>
    <li ><a   class="btn btn-primary" routerLink="create">CREATE</a></li>
  </ul>
  </div>
  <div class="container">
  <router-outlet></router-outlet>
</div>